.search_input {
    min-width: 300px;
    height: 35px;

    background-color: unset;
    border-style: solid;
    border-width: 1px;
    border-color: #e3e4e6;
    border-radius: 10px;

    padding: 0;
}

.search_input:focus {
    border: none;
    color: unset;
}
