<link rel="stylesheet" href="./Header.css"/>

<link rel="stylesheet" href="../CatalogButton/CatalogButton.css"/>

<link rel="stylesheet" href="../SearchInput/SearchInput.css"/>

<link rel="stylesheet" href="../Logo/Logo.css"/>

<div class="header">
    <div class="header__logo_space">
        <div class="logo_box">
            <img class="logo" src="../Logo/Hot Mexicans Delivery-logos_black.png">
        </div>
    </div>

    <div class="header__search">
        <input class="search_input"/>

    </div>

    <div class="header__right_menu">
        <button class="catalog_button">
            Login
        </button>
        <button class="catalog_button">
            Search
        </button>
    </div>
</div>